/*
     Stylesheet for a diff XML file
     
     TODO A webmaster at Mandriva could revamp this, it can be improved greatly..!
*/

div {
    margin: 5px 0;  
    margin-bottom: 30px;  
}

div#header {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

p.title {
    font-family: arial, helvetica, sans-serif;
    font-size: 1.2em;
    color: navy;
    font-style:italic;
    border-bottom: 2px navy solid;
    padding-bottom: .2em;
}

table {
    margin: 0 auto;
    padding: 0;
    border: 1px #DDD solid;
}

th {
    background: navy;
    color: yellow;
    border: 1px navy solid;
}

td {
    margin: 0;   
    border: 1px #DDD solid;
}

div#newer table, div#older table {
    width: 70%;
}

div#stats table {
    border: 0;
    margin-left: 50px;    
}

div#stats table td {
    border: 0;   
    padding: 0 3em;
}
